<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ title | default("Adithya Krishna") }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- CSS passed through from src/css/ -->
        <link rel="stylesheet" href="/css/font.css">
        <link rel="stylesheet" href="/css/index.css">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="header-p">
            <div class="header">
                <div>
                    <a href="/"><p><u>Adithya Krishna</u></p></a>
                </div>
                <div>
                    <p><a href="/writings/">Writings</a> | <a href="/feed.xml">RSS</a></p>
                </div>
            </div>
        </div>

        <!-- Eleventy injects the specific page content here -->
        {{ content | safe }}

        <script src="" async defer></script>
    </body>
</html>